@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center;">
    <h1>Search</h1>
    <div class="form-group">
        <input type="text" class="form-control input-lg" id="searchTextbox" placeholder="search" style="width: 100%;">
    </div>
</div>

<div class="row">
    <div class="col-md-12">        
    </div>
</div>

<script type="text/javascript">
    $("#searchTextbox").keypress(function (e) {
        if (e.which == 13) {
            alert('Search!');
        }
    });
</script>