@model IEnumerable<YAK.Base.Database.Entities.Question>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center;">
    @foreach(var question in Model)
    {
        <p>asd</p>
    }
</div>