@model IEnumerable<Yak.DTO.Question>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center;">
    <h1>Questions</h1>
</div>

@foreach (var question in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>@question.Title</h3>
        </div>
        <div class="panel-body">
            <p>@question.Author - @question.CreateDate</p>
            <p>@question.Content</p>
        </div>
    </div>
}